<a href="https://colab.research.google.com/github/monikakote/Numpy/blob/main/Datatype_in_Numpyarray.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types in NumPy Arrays

bool_ : Boolean (True or False) stored as a byte

int_ : Default integer type(same as C long; normally either int64 or int32)

intc : indentical to c int(normally int32 or int64)

intp : integer used for indexing(same as C ssize_t; normally either int32 or int64)

int8 : Byte(-128 to 127)

int16 :integer(-32768 to 32767)

int32 : integer(-2147483648 to 2147483647)

int64 : integer(-9223372036854775808 to 9223372036854775807)

uint8 : unsigned integer (0 to 255)

uint16 : unsigned integer (0 to 65535)

uint32 : unsigned integer (0 to 4294967295)

uint64 : unsigned integer(0 to 18446744073709551615)

float_ : shorthand for float64

float16 : half percision float: sign bit , 5 bits exponent , 10 bits mantissa

float32 : single percision float:sign bit , 8 bits exponent , 23 bits for mantissa

float64 : Double precision float : sign bit, 11 bits exponent , 52 bits for the mantissa

complex_ : shorthand for complex128

complex64 : complex number, represented by two 32-bit floats( real and imaginary components)

complex128 : complex number, represented by two 64-bit floats (real and imaginary components)

# Data Type

In [5]:
import numpy as np

# Array with whole numbers (integers)
heights = np.array([150, 160, 170, 180])
print("Heights:", heights)
print("Data Type:", heights.dtype)

# Array with decimal values (floats)
percentages = np.array([85.5, 90.2, 78.6])
print("\nPercentages:", percentages)
print("Data Type:", percentages.dtype)

# Array with single characters
initials = np.array(['R', 'S', 'T'])
print("\nInitials:", initials)
print("Data Type:", initials.dtype)

# Array with mixed data (characters + numbers)
student_data = np.array(['Raj', 'Simran', 101, 102])
print("\nStudent Data:", student_data)
print("Data Type:", student_data.dtype)

Heights: [150 160 170 180]
Data Type: int64

Percentages: [85.5 90.2 78.6]
Data Type: float64

Initials: ['R' 'S' 'T']
Data Type: <U1

Student Data: ['Raj' 'Simran' '101' '102']
Data Type: <U21

# list of characters that are used to represent dtype in Numpy

i: integer

b: boolean

u: unsigned integer

f: float

c: complex float

m: timedelta

M: datatime

O: object

S: string

U: Unicode string

V: the fixed chunk of memory for other types(void)

# 1. Integer Array with Specific Type (int16)

In [1]:
import numpy as np

marks = np.array([50, 60, 70, 80], dtype=np.int16)
print("Student Marks:", marks)
print("Data Type:", marks.dtype)

Student Marks: [50 60 70 80]
Data Type: int16

# 2. Float Array (float32)

In [2]:
prices = np.array([99.99, 149.49, 249.75], dtype=np.float32)
print("Product Prices:", prices)
print("Data Type:", prices.dtype)

Product Prices: [ 99.99 149.49 249.75]
Data Type: float32

# 3. Boolean Array

In [3]:
responses = np.array([True, False, False, True])
print("Survey Responses:", responses)
print("Data Type:", responses.dtype)

Survey Responses: [ True False False  True]
Data Type: bool

# 4. Complex Array (complex64)

In [4]:
voltages = np.array([1+2j, 3+4j, 5+6j], dtype=np.complex64)
print("Voltages:", voltages)
print("Data Type:", voltages.dtype)

Voltages: [1.+2.j 3.+4.j 5.+6.j]
Data Type: complex64

# 5. Unicode String Array

In [6]:
cities = np.array(['Pune', 'Mumbai', 'Nashik'])
print("Cities:", cities)
print("Data Type:", cities.dtype)

Cities: ['Pune' 'Mumbai' 'Nashik']
Data Type: <U6

# 6. Unsigned Integer (uint8)

In [7]:
ages = np.array([10, 20, 30, 40], dtype=np.uint8)
print("Ages:", ages)
print("Data Type:", ages.dtype)

Ages: [10 20 30 40]
Data Type: uint8

# 7. Type Conversion Example: Float ➝ Int

In [8]:
weights = np.array([55.8, 60.2, 68.9])
int_weights = weights.astype(np.int32)

print("Weights (Float):", weights)
print("Weights (Integer):", int_weights)
print("Converted Data Type:", int_weights.dtype)

Weights (Float): [55.8 60.2 68.9]
Weights (Integer): [55 60 68]
Converted Data Type: int32

# 8. Type Conversion Example: Int ➝ Complex

In [9]:
temps = np.array([23, 25, 28])
complex_temps = temps.astype(np.complex128)

print("Temperatures:", temps)
print("Converted to Complex:", complex_temps)
print("Data Type:", complex_temps.dtype)

Temperatures: [23 25 28]
Converted to Complex: [23.+0.j 25.+0.j 28.+0.j]
Data Type: complex128